/*
-----------------------------------------
Earnings Snapshot
-----------------------------------------
*/

.shadow-box {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  padding: rem(24);
  background: var(--yl-white);
  border-radius: var(--yl-radius);

  .shadow-box-header {
    font-size: rem(14);
    color: var(--yl-gray-40);
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
}

.earning-value {
  font-size: rem(50);
  font-weight: var(--yl-font-weight-normal);
  font-family: var(--yl-font-serif);
}

.see-more {
  text-align: end;
}

.banner {
  background-color: var(--yl-blue);
  border-radius: var(--yl-radius);
  padding: rem(16) rem(32);
}

/* Progress Bars */

.progress-bar-group {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.progress-bar-label {
  display: flex;
  justify-content: space-between;
  gap: rem(20);
  margin-block-end: rem(4);

  p {
    font-size: rem(14);
    margin-bottom: 0;
  }

  .bar-value {
    text-align: end;
  }
}

.progress-bar {
  --progress-bar: var(--yl-olive-light);
  --progress-bar-fill: var(--yl-olive);

  background-color: var(--progress-bar);
  border-radius: var(--yl-radius);
  height: rem(12);

  .progress-bar-fill {
    background-color: var(--progress-bar-fill);
    border-radius: var(--yl-radius);
    height: 100%;
  }

  &.progress-bar-secondary {
    --progress-bar: var(--yl-blue-light);
    --progress-bar-fill: var(--yl-blue);
  }
}
