extends ../layouts/layout.pug

block content

  // The container .mt-48 is not needed. This is just for make it nicer to display for working on
  .mt-48

    section.container
      .content
        .shadow-box
          p Hello World