extends ../layouts/layout.pug

block content

  // The container .mt-48 is not needed. This is just for make it nicer to display for working on
  .mt-48

    section.container
      .content
        .shadow-box
          h2.shadow-box-header Earnings Snapshot
          .text-center.mb-12
            h3.text-header--5.mb-4 Current Rank: 
              span.rank 
                | Platinum
            p 
              a(href="#0").decoration-none Estimate Earnings as Another Rank
            p.earning-value USD 26,726
          p.see-more
            a(href="#0").see-more.color-secondary.decoration-none See Breakdown 