/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: none;
  @include transition();
  -webkit-appearance: none;
  background: var(--yl-blue);
  border: 1px solid var(--yl-blue);
  color: var(--yl-white);
  text-decoration: none;
  padding: rem(12) rem(32);
  text-align: center;
  width: auto;
  border-radius: var(--yl-radius);
  font-size: rem(16);
  line-height: 1.4;
  gap: rem(10);

  &:hover,
  &:focus,
  &:active {
    background: var(--yl-blue);
    border: 1px solid var(--yl-blue);
    color: var(--yl-white);
  }

  svg {
    display: block;
    height: rem(20);
    width: rem(20);
    fill: var(--yl-white);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  // Alignment

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-spaced {
    justify-content: space-between;
  }
}

.simple {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  color: var(--yl-link-color);
  @include transition();
  text-decoration: none;
  font-size: rem(16);
  line-height: 1.4em;

  &:hover,
  &:focus,
  &:active {
    color: var(--yl-link-hover-color);
    text-decoration: underline;
  }

  &.secondary {
    --yl-link-color: var(--yl-blue);
    --yl-link-hover-color: var(--yl-blue);
  }
}
