/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: none;
  @include transition();
  -webkit-appearance: none;
  background: var(--yl-primary);
  border: 1px solid var(--yl-primary);
  color: var(--yl-white);
  text-decoration: none;
  padding: rem(12) rem(32);
  text-align: center;
  width: auto;
  border-radius: var(--yl-radius);
  font-size: rem(16);
  line-height: 1.4;
  gap: rem(10);

  &:hover,
  &:focus,
  &:active {
    background: var(--yl-olive);
    border: 1px solid var(--yl-olive);
    color: var(--yl-white);
  }

  &.ghost {
    background: transparent;
    color: var(--yl-primary);
    border-color: var(--yl-primary);

    &:hover,
    &:focus,
    &:active {
      background: var(--yl-white);
      color: var(--yl-olive);
      border-color: var(--yl-olive);
    }
  }

  svg {
    display: block;
    height: rem(20);
    width: rem(20);
    fill: var(--yl-white);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  // Alignment

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-spaced {
    justify-content: space-between;
  }
}

.simple {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
