/*
-----------------------------------------
FORMS
-----------------------------------------
*/

form {
}

label {
  display: block;
  @include rem-size(15px);
  color: var(--yl-text-color);
  margin-bottom: rem(6);
  line-height: 1.4em;
}

input,
textarea {
  width: 100%;
  border: 1px solid var(--yl-gray-50);
  padding: rem(16);
  @include rem-size(16px);
  color: var(--yl-text-color);
  border-radius: var(--yl-radius); // For iOS
  font-family: var(--yl-font);
  line-height: 1.4;

  &:disabled {
    color: #ccc;
    background: #fff;
  }

  &:focus {
    outline: 1px solid var(--yl-primary);
    border-color: var(--yl-primary);
    box-shadow: 0 0 10px rgba(0, 153, 0, 0.5);
  }
}

textarea {
  min-height: 200px;

  &.small {
    min-height: 150px;
  }

  &.large {
    min-height: 250px;
  }
}

select {
  appearance: none;
  padding: rem(12) rem(32) rem(12) rem(12);
  color: var(--yl-white);
  font-size: rem(16);
  width: 100%;
  text-align: center;
  border: none;
  background-color: var(--yl-blue-light);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi4wMDIiIGhlaWdodD0iNi45ODMiIHZpZXdCb3g9IjAgMCAxMi4wMDIgNi45ODMiPgogIDxwYXRoIGlkPSJQYXRoXzM4MyIgZGF0YS1uYW1lPSJQYXRoIDM4MyIgZD0iTTUuNi01LjY3N2EuNTY3LjU2NywwLDAsMCwuOCwwbDUuNDM3LTUuNTIyYS41NjMuNTYzLDAsMCwwLDAtLjhsLS4zMzMtLjMzM2EuNTYzLjU2MywwLDAsMC0uOCwwTDYtNy41MzNsLTQuNzA2LTQuOGEuNTYzLjU2MywwLDAsMC0uOCwwTC4xNjQtMTJhLjU2My41NjMsMCwwLDAsMCwuOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMDAxIDEyLjQ5MykiIGZpbGw9IiNmZmZmZmYiLz4KPC9zdmc+Cg==");

  background-repeat: no-repeat;
  background-position: right rem(16) top 50%;
  background-size: rem(12) rem(7);
  border-radius: var(--yl-radius);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: 2px solid var(--yl-blue);
    outline-offset: 2px;
    border-radius: var(--yl-radius);
  }

  &.style-light {
    background: var(--yl-gray-10);
    color: var(--yl-gray-50);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi4wMDIiIGhlaWdodD0iNi45ODMiIHZpZXdCb3g9IjAgMCAxMi4wMDIgNi45ODMiPgogIDxwYXRoIGlkPSJQYXRoXzM4MyIgZGF0YS1uYW1lPSJQYXRoIDM4MyIgZD0iTTUuNi01LjY3N2EuNTY3LjU2NywwLDAsMCwuOCwwbDUuNDM3LTUuNTIyYS41NjMuNTYzLDAsMCwwLDAtLjhsLS4zMzMtLjMzM2EuNTYzLjU2MywwLDAsMC0uOCwwTDYtNy41MzNsLTQuNzA2LTQuOGEuNTYzLjU2MywwLDAsMC0uOCwwTC4xNjQtMTJhLjU2My41NjMsMCwwLDAsMCwuOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMDAxIDEyLjQ5MykiIGZpbGw9IiMzYTNhM2EiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: right rem(16) top 50%;
    background-size: rem(12) rem(7);
    text-shadow: none;
  }
}

/*
-----------------------------------------
FORM LAYOUT
-----------------------------------------
*/

.field {
  margin-block-end: 24px;

  &:last-child {
    margin-block-end: 0;
  }
}
