/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/

/*  Basics */

a {
  color: var(--yl-link-color);
  @include transition();

  &:hover,
  &:focus,
  &:active {
    color: var(--yl-link-hover-color);
  }

  &.decoration-none {
    text-decoration: none;
  }

  &.color-secondary {
    color: var(--yl-olive);

    &:hover,
    &:focus,
    &:active {
      color: var(--yl-olive);
    }
  }
}

p,
li {
  font-size: rem(16);
  line-height: 1.2em;
  font-weight: var(--yl-normal);
  color: var(--yl-text-color);
}

ol,
ul,
p {
  margin-block-end: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-block-end: rem(10);

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  &:not(.list-unstyled) {
    margin-block-start: 0.5em;
    margin-inline-start: rem(20);
  }
}
li {
  &:last-child {
    margin-bottom: 0;
  }
}

small {
  font-size: 0.9em;
}

blockquote {
}

hr {
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.text-header--1,
.text-header--2,
.text-header--3,
.text-header--4,
.text-header--5,
.text-header--6 {
  line-height: 1.4;
  font-weight: var(--yl-normal);
  color: var(--yl-text-color);
  margin-bottom: rem(10);
}

.text-header--1,
h1 {
  font-size: rem(48);
}

.text-header--2,
h2 {
  font-size: rem(40);
}

.text-header--3,
h3 {
  font-size: rem(33);
}

.text-header--4,
h4 {
  font-size: rem(28);
}

.text-header--5,
h5 {
  font-size: rem(19);
}

.text-header--6,
h6 {
  font-size: rem(18);
}
